* {
  color: navy;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

#container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
}

form {
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: plum;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

form input,
form select {
  padding: 10px 0;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: purple;
  color: white;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  flex-grow: 1;
}

table th {
  background-color: navy;
  color: white;
  padding: 10px 0;
}

table td {
  padding: 10px 0;
}
